/* MIX */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 25px;
  background-color: #000;
  height:10vh;
}
main{
  height:90vh;
  background-color: #272626;
  padding:20px;
  display:flex;
  flex-wrap:wrap;
  overflow-y: auto;
  position:relative;
}
.container{
  position:relative;
}
.active{
  display:block;
}
.invisible{
  display:none;
}
.colored-star{
  color:yellow;
}
/* /MIX */

/* logo layout */
.logo {
  height:100%;
}
.logo img{
  height:100%;
}
/* /logo layout */

/* input + button layout */
.search{
  height: 100%;
  display: flex;
  align-items: center;
}
.search input, .search button{
  border-radius:5px;
  height:60%;
  border:none;
}
.search button{
  margin-left:10px;
  width:50px;
  background-color: red;
  color: white;
}

.search input{
  padding:10px;
}
.search input:focus, .search button:focus{
  outline:none;
}
/* /input + button layout */

/* card layout */
.box{
  height:400px;
  width:calc((100% / 5) - 20px);
  margin: 10px;
  border:2px solid #fff;
}
/* img */
.box img{
  height:100%;
  width:100%;
}
/* /img */

/* text */
.movie-info{
  background-color: #000;
  color:#fff;
  height:100%;
  padding: 30px 20px;
  overflow: hidden;
}
.movie-info h3 {
  margin: 10px 0;
}
.movie-info h4{
  margin: 10px 0;
}
.movie-info span{
  color:red;
}
.movie-info p:last-of-type{
  font-size:14px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* flag */
.movie-info .flag{
  height:20px;
  width:20px;
  vertical-align: middle;
  margin-left:10px;
}
.movie-info .lang-name{
  text-transform: uppercase;
  font-weight: bold;
  color:#fff;
}
/* /flag */

/* /text */

/* /card layout */

/* welcome page layout */
.welcome-page{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* user card layout */
.user-card{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin:10px;
  cursor:pointer;
}
.user-effect{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: #92929285;
}
.user{
  height:200px;
  width:200px;
  background-image:url('../img/user.png');
  background-position: center;
  background-size: contain;
  border:5px solid #2d2d2d;
  border-radius:5px;
  position:relative;
}
/* user card layout */
.welcome-page p{
  color:#fff;
  font-size:28px;
  margin:10px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
/* /welcome page layout */

/* most wanted */
.most-wanted{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  position:relative;
  overflow-x: hidden;
}

/* arrow button */
.right-arrow, .left-arrow{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  height:50px;
  width:50px;
  border-radius:50%;
  background-color: #636363ab;
  font-size:24px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#fff;
}
.most-wanted .category{
  position:absolute;
  top: 20px;
  left: 10px;
  color:#fff;
  font-size:24px;
}
.right-arrow{
  right:0;
}
/* /arrow button */
/* /most wanted */

/* no results page */
.no-results{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:flex;
  justify-content: center;
  align-items: center;
}
.no-results p{
  font-size: 46px;
  color: #fff;
}
/* /no results page */

/* dynamic star */
.star{
  --percent: calc(var(--rating)/2 / 5 * 100%);
  display: inline-block;
  font-size: 45px;
}
.star::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, #fc0 var(--percent), #fff var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* responsive */

@media screen and (min-width: 2000px){

  .box{
    height:700px;
  }
  .movie-info h2, .movie-info h3,
  .movie-info h4 .movie-info p, .movie-info span, .movie-info p:last-of-type{
    font-size:32px;
  }

}
