/* MIX */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  background-color: #000;
  height:10vh;
}
main{
  height:90vh;
  background-color: #828282;
  padding:20px;
  display:flex;
  flex-wrap:wrap;
  overflow-y: auto;
}
.active{
  display:block;
}
.invisible{
  display:none;
}
/* /MIX */

/* logo layout */
.logo {
  height:100%;
}
.logo img{
  height:100%;
}
/* /logo layout */

/* input + button layout */
.search{
  height: 100%;
  display: flex;
  align-items: center;
}
.search input, .search button{
  border-radius:5px;
  height:60%;
  border:none;
}
.search button{
  margin-left:10px;
  width:50px;
}
.search input{
  padding:10px;
}
.search input:focus, .search button:focus{
  outline:none;
}
/* /input + button layout */

/* card layout */
.box{
  height:400px;
  width:calc((100% / 5) - 20px);
  margin: 10px;
  border:2px solid #fff;
}
/* img */
.box img{
  height:100%;
  width:100%;
}
/* /img */

/* text */
.movie-info{
  background-color: #000;
  color:#fff;
  height:100%;
  padding: 30px 20px;
  overflow: auto;
}
.movie-info span{
  color:red;
}
.movie-info p{
  font-size:14px;
}
/* /text */

/* /card layout */
