/* MIX */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  background-color: #000;
  height:10vh;
}
main{
  height:90vh;
  background-color: #828282;
  padding:20px;
  display:flex;
  flex-wrap:wrap;
  overflow-y: auto;
}
/* /MIX */

/* logo layout */
.logo h1{
  color:red;
  text-transform: uppercase;
}
/* /logo layout */
.box{
  height:400px;
  width:calc((100% / 5) - 20px);
  margin: 10px;
}

.box img{
  height:100%;
  width:100%;
  object-fit: contain;
}
