<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boolflix</title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- /fontawesome cdn -->
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <!-- /google font -->
    <!-- axios cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
    <!-- /axios cdn -->
    <!-- vue js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- /vue js cdn -->
    <!-- css link -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /css link -->
  </head>
  <body>
    <!-- main container -->
    <div class="container" id="root">
      <!-- header -->
      <header>
        <!-- logo -->
        <div class="logo" @click="reloadMovies">
          <img src="img/logo.png" alt="">
        </div>
        <!-- /logo -->

        <!-- input + btn -->
        <div class="search">
          <input type="text" v-model="movieInput" v-on:keyup.enter="searchMovie" placeholder="Search">
          <button @click="searchMovie"><i class="fas fa-search"></i></button>
        </div>
        <!-- /input + btn -->
      </header>
      <!-- /header -->

      <!-- main -->
      <main>
        <!-- most wanted -->
          <div class="most-wanted">
            <p class="category">Ultime ricerche</p>
            <div class="right-arrow" @click="rightScroll">
              <i class="fas fa-chevron-right"></i>
            </div>
            <div class="left-arrow" @click="leftScroll">
              <i class="fas fa-chevron-left"></i>
            </div>
            <!-- box movie -->
            <div class="box" v-for="(item, j) in bestMovies" @mouseover="overlayMost(j)" @mouseleave="resetOverlayMost">
              <!-- poster movie -->
              <img :src="item.poster_path != null ? 'https://image.tmdb.org/t/p/w500/' + item.poster_path : 'img/noposter.png'" alt="" :class="item.id == indexOf? 'invisible': 'active'">
              <!-- /poster movie -->

              <!-- movie info -->
              <div :class="item.id == indexOf? 'movie-info active': 'invisible'">
                <h2><span>Titolo: </span>{{item.title}}<h2 v-if="item.title != '' ">{{item.name}}</h2></h2>
                <h3><span>Titolo originale: </span>{{item.original_title}}<h3 v-if="item.original_title != '' ">{{item.original_name}} </h3></h3>
                <p><span>Lingua originale: <img v-if="flags.includes(item.original_language)" class="flag" :src="'img/' + item.original_language + '.png'" :alt="item.original_language"><span class="lang-name" v-show="!flags.includes(item.original_language)">{{item.original_language}}</span> </p>
                <h4><span>Voto: </span><i class="fas fa-star colored-star" v-for="(n, index) in (Math.round(item.vote_average / 2))"></i><i class="fas fa-star" v-for="(n,index) in ( 5 -(Math.round(item.vote_average / 2)))"></i></h4>
                <p><span>Trama: </span>{{item.overview}}</p>
              </div>
              <!-- /movie info -->
            </div>
            <!-- /box movie -->
          </div>
        <!-- /most wanted -->

        <!-- box movie -->
        <div class="box" v-for="(movie, i) in movies" @mouseover="overlay(i)" @mouseleave="resetOverlay">
          <!-- poster movie -->
          <img :src="movie.poster_path != null ? 'https://image.tmdb.org/t/p/w500/' + movie.poster_path : 'img/noposter.png'" alt="" :class="movie.id == indexOf? 'invisible': 'active'">
          <!-- /poster movie -->

          <!-- movie info -->
          <div :class="movie.id == indexOf? 'movie-info active': 'invisible'">
            <h2><span>Titolo: </span>{{movie.title}}<h2 v-if="movie.title != '' ">{{movie.name}}</h2></h2>
            <h3><span>Titolo originale: </span>{{movie.original_title}}<h3 v-if="movie.original_title != '' ">{{movie.original_name}} </h3></h3>
            <p><span>Lingua originale: <img v-if="flags.includes(movie.original_language)" class="flag" :src="'img/' + movie.original_language + '.png'" :alt="movie.original_language"><span class="lang-name" v-show="!flags.includes(movie.original_language)">{{movie.original_language}}</span></p>
            <h4><span>Voto: </span><i class="fas fa-star colored-star" v-for="(n, index) in (Math.round(movie.vote_average / 2))"></i><i class="fas fa-star" v-for="(n,index) in ( 5 -(Math.round(movie.vote_average / 2)))"></i></h4>
            <p><span>Trama: </span>{{movie.overview}}</p>
          </div>
          <!-- /movie info -->
        </div>
        <!-- /box movie -->
      </main>
      <!-- /main -->
      <!-- transition effect -->
      <transition name="fade">
        <!-- welcome page -->
        <div class="welcome-page" v-show="startValue">

          <!-- user card -->
          <div class="user-card">

            <!-- user image -->
            <div class="user" @click="startPage" @mouseover="userEffect" @mouseleave="resetUserEffect">
              <div class="user-effect" v-show="userValue"></div>
            </div>
            <!-- /user image -->

            <!-- user name -->
            <p>Alfie</p>
            <!-- user name -->
          </div>
          <!-- /user card -->
        </div>
        <!-- /welcome page -->
      </transition>
      <!-- transition effect -->
    </div>
    <!-- /main container -->


    <!-- js -->
    <script src="js/script.js" charset="utf-8"></script>
    <!-- /js -->
  </body>
</html>
