<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boolflix</title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- /fontawesome cdn -->
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <!-- /google font -->
    <!-- axios cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
    <!-- /axios cdn -->
    <!-- vue js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- /vue js cdn -->
    <!-- css link -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /css link -->
  </head>
  <body>
    <!-- main container -->
    <div class="container" id="root">
      <!-- header -->
      <header>
        <div class="logo">
          <img src="img/logo.png" alt="">
        </div>
        <div class="search">
          <input type="text" v-model="movieInput" v-on:keyup.enter="searchMovie" placeholder="Search">
          <button @click="searchMovie"><i class="fas fa-search"></i></button>
        </div>
      </header>
      <!-- /header -->

      <!-- main -->
      <main>
        <div class="box" v-for="(movie, i) in movies" @mouseover="overlay(i)">
          <img :src="movie.poster_path != null ? 'https://image.tmdb.org/t/p/w500/' + movie.poster_path : 'img/noposter.png'" alt="" :class="movie.id == indexOf? 'invisible': 'active'">
          <div :class="movie.id == indexOf? 'movie-info active': 'invisible'">
            <h2><span>Titolo: </span>{{movie.title}}</h2>
            <h3><span>Titolo originale: </span>{{movie.original_title}}</h3>
            <h4><span>Voto: </span>{{movie.vote_average}}</h4>
            <p><span>Trama: </span>{{movie.overview}}</p>
          </div>
        </div>

      </main>
      <!-- /main -->
    </div>
    <!-- /main container -->

    <!-- js -->
    <script src="js/script.js" charset="utf-8"></script>
    <!-- /js -->
  </body>
</html>
